* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

/*Barra de navegación*/
.navbar-toggler {
  color: antiquewhite;
}

.navbar-toggler-icon {
  color: antiquewhite;
  background-color: antiquewhite;
}
.navbar {
  padding: 2rem;
  background-color: #182153;
}

/*navbar-collapse son los títulos propiamente dichos*/
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  color: #f1f1f1;
}

.ico {
  border-radius: 50px;
  width: 100px;
  /*overflow: visible;*/
}

.nav-link {
  color:  #f1f1f1;
  font-size:x-large;
}

/*La sección principal se llama hero*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.hero {
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h2 {
  color: gray;
}

.imagen-mapa {
  width: 400px;
  margin: 20px;
  text-align: center;
}

/*Sección Acerca de las ciencias sociales, acercacs. Es la sección oscura.*/
.acercacs {
  height: auto;
  padding: 10px;
}

.acercacs .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-oscura {
  background-color: #182153;
  color: #f1f1f1;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-texto {
  font-size: 1.2rem;
}

.texto-negro {
  color: #182153;
}

/*Experiencia*/
.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all .3s ease-in;
}

.experiencia .columna:hover {
  color: #182153;
  background-color: beige;
}

.experiencia i {
  color: #5e6fca;
  /*background-color:antiquewhite;*/
  font-size: 2.5rem;
  padding: 8px 19px;
  border-radius: 50%;
}

.seccion-clara {
  color: gray;
}

/*.experiencia .row div {
  height: 250px;
  border: 1px black solid;
}*/

.inicial-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 1rem;
  color: #f1f1f1;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/*Proyectos. Yo acá coloco La experiencia Martín Fierro*/
.proyectos-recientes {
  padding: 40px;
}
 .proyectos-recientes img {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  transition: all .2s ease;
  border: #182153 solid 1px;
 }

.seccion-descripción {
  font-size: 1.3rem;
  color: gray;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.proyecto {
  position: relative;
}

.overlay {
  transition: .2s all ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto:hover img {
  opacity: .2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

/*.overlay .iconos-contenedor {
  display: flex; Contenia flex porque originalmente lleva dos íconos
}*/

.overlay i {
  color: #182153;
  font-size: 2rem;
  margin: 10px;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  background-color: #182153;
  color: antiquewhite;
}

/*Artículos*/
.articulos {
  min-height: 500px;
  padding: 30px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}

/*Testimonios*/
.testimonios {
  padding: 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-control-prev {
  background-color: antiquewhite;
  width: 2.5rem;
}

.carousel-control-next {
  background-color: antiquewhite;
  width: 2.5rem;
}
.carousel-item {
  height: 500px;
}

.carousel-item h5 {
  color: #182153;
  font-weight: bold;
  font-size: 2.5rem;
}

.carousel-item p {
  color: #182153;
  font-weight: bold;
  font-size: 2.0rem;
}

.descripcion {
  font-size: 1.3em;
  margin-top: 10px;
}
/*Contacto*/

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgba(13, 110, 253, .7);
  box-shadow: 0px 1px 4px 1px;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: antiquewhite;
  font-size: 1.5rem;
}

.contacto button {
  color: antiquewhite;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid wheat;
  padding: 1.25em 2em;
  margin: 10px;
  transition: all .3 ease-in-out;
}

.contacto button:hover {
  background-color: #182153;
}

.contacto button i {
  font-size: 1.3rem;
  transition: all .3 ease-in-out;
}

.contacto button i:hover {
  background-color: #182153;
}

.form-floating {
  width: 100%;
}

/*Pie de página*/
footer {
  min-height: 300px;
}

.footer-icono {
  width: 50px;
  border-radius: 50%;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
}

#whatsapp {
  font-size: 3.5rem;
  color: rgb(50, 233, 50);
  width: 80px;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  transition: all .5s ease-in;
}

.iconos-redes a {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid antiquewhite;
  border-radius: 50%;
  background-color: #5e6fca;
  transition: all .5s ease-in;
}

.iconos-redes i {
  font-size: 2.5rem;
  color: #182153;
  transition: all .5s ease-in;
}

.iconos-redes a:hover {
  background-color: antiquewhite;
  border: 2px solid #182153
}

.derechos {
  font-size: 1rem;
  color: gray;
  padding: 20px;
}
/*Adaptable responsivo*/
/*navbar-brand es el ínoco CS*/
@media (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media (min-width: 700px) {
  .hero-inf-img {
max-width: 600px;
  }
}
/*Falta para el carrusel*/